*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#all{
	width: 1024px;
	min-height: 1000px;
	background: #F87373;
	margin: auto;
}
header{
	background: #A4E493;
	width: 1024px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
	header #logo{
		width: 200px;
		height: 50px;
		display: inline-block;
		background: yellowgreen;
	} 
	header #banner{
		width: 800px;
		height: 50px;
		display: inline-block;
		background: #0B9121;
	}
nav{
	width: 1024px;
	height: 30px;
	/*background: red;*/
}
	nav #menu{
		background: #F62828;
		width: 600px;
		height: 30px;
		float: left;
	}
		ul{
			list-style: none;
			width: 600px;
			background: darkgray;
		}
		#footer{
			width: 1024px;
			height: 40px;
			background: #F0F2AD;
		}
		#footer ul{
			float: right;
			margin-right: 0;
		}
		ul li{
			display: inline-block;
			width: 100px;
			height: 30px;
			border-right: solid 1px #E2DADA;
			background: #BD0909;
		}
		ul li a{
			display: block;
			text-decoration: none;
			line-height: 30px;
			background: yellow;
			text-align: center;
		}
		ul li:last-child{
			border-right: none;
		}
	nav input{
		width: 200px;
		height: 25px;
		border: solid 1px #E2DADA;
		border-radius: 10px;
		display: inline-block;
		float: right;		
	}
section{
	width: 1024px;
	min-height: 600px;
	background: #1325AB;

	/*display: block;*/
}
p{
	display: inline-block;
}
	#sidebar {
		width: 100px;
		height: 500px;
		background: #67F042;
		float: left;
	}
	section #side1{
		width: 100xp;
		height: 150px;
		background: #AE9831;
	}
	section #side2{
		width: 100px;
		height: 250px;
		margin-top: 10px;
		background: #807959;
	}
article{
		width: 700px;
		min-height: 600px;
		background: red;
		float: left;
	}
	article #hotnews{
		width: 200px;
		height: 100px;
		background: #63E6DB;
		display: inline-block;
	}
	article #photo{
		width: 450px;
		height: 100px;
		background: #1AA397;
		display: inline-block;
	}
	article .news{
		width: 220px;
		height: 100px;
		display: inline-block;
		background: #31CF38;
		margin: 5px;
	}
aside {
	width: 100px;
	height: 600px;
	background: #73993D;
	float: left;
}
	aside input, #chart, # map{
		width: 90px;
		height: 100px;
		background: #B13434;
		margin: 5px;
	}
	